.books_table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: sans-serif;
  }
  
  .books_table th,
  .books_table td {
    border: 1px solid black;
    padding: 7px;
    text-align: left;
  }
  
  .books_table th {
    background-color: #bbb7b7;
  }
  
  .books_table tr:nth-child(even) {
    background-color: #f3ebeb;
  }
  
  .books_table img {
    max-height: 100px;
  }
  